<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title %}
       <title>
         {{ title }} - Bromy
      </title>
    {% else %}
      <title>
         Welcome to MrRutledgea
      </title>
    {% endif %}
  </head>
  <body>
    <div>
      MrRutledge's Blog:
      <a href="{{ url_for('index') }}" >HOME</a>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Login</a>
      {% else %}
      <a href="{{ url_for('user', username=current_user.sername ) }}">Profile</a>
      <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </div>
    <hr>
     {% with messages = get_flashed_messages() %}
     {% if messages %}
     <ul>
       {% for message in messages %}
        <li>
         {{ message }}
       </li>
       {% endfor %}
     </ul>
     {% endif %}
     {% endwith %}
    {% block content %}
    {% endblock %}
  </body>
</html>
