<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title %}
       <title>
         {{ title }} - Bromy
      </title>
    {% else %}
      <title>
         Welcome to MrRutledge
      </title>
    {% endif %}
  </head>
  <body>
    <div>
      MeBlog:
      <a href="/index">HOME</a>
      <a href="/login">Login</a>
    </div>
    <hr>
     {% with messages = get_flashed_messages() %}
     {% if messages %}
     <ul>
       {% for message in messages %}
        <li>
         {{ message }}
       </li>
       {% endfor %}
     </ul>
     {% endif %}
     {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
